.LoadoutCard {
    background-color: blueviolet;
    margin: 10px;
    padding: 10px;
    border: solid green 3px;
    border-radius: 5px;
}

.LoadoutLabel {
    text-align: center;
    font-size: 24px;
    margin: 5px;
}

.LoadoutGrid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 5px;
}

.bingoBuffs {
    border: solid green 2px;
}

.LoadoutGrid p {
    border: solid lightblue 2px;
    border-radius: 2px;
    text-align: center;
    margin: 5px;
    padding: 5px;
}

#displayAllLoadouts {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 15px;
}

.buffTable {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    margin: 10px;
}

.buffTableEntry {
    display: inline;
    border: lightblue solid 2px;
    margin: 5px;
}

.buffTableKey {
    display: inline;
    margin: 0px;
    padding: 3px;
}

.buffTableValue {
    display: inline;
    margin: 0px;
    padding: 3px;
}