.LoadoutCard {
    background-color: #7AFDD6;
    margin: 10px;
    padding: 10px;
    border: solid #4dcfa8 3px;
    border-radius: 5px;
}

.LoadoutLabel {
    text-align: center;
    font-size: 24px;
    margin: 5px;
}

.LoadoutGrid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 5px;
}

.LoadoutGrid p {
    background-color: #77FF94;
    border: solid #56bb6c 2px;
    border-radius: 2px;
    text-align: center;
    margin: 5px;
    padding: 5px;
}

#displayAllLoadouts {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 15px;
}

.buffTable {
    display: grid;
    grid-template-columns: 12% 15% 15%;
    text-align: right;
    margin: 8px 0px;
}

.buffTableEntry {
    display: inline;
    /* border: lightblue solid 2px; */
    margin: 0px;
}

.buffTableKey {
    display: inline;
    margin: 0px;
    padding: 3px;
}

.buffTableValue {
    display: inline;
    margin: 0px;
    padding: 3px;
}