#geneGrid {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto auto auto;
    column-gap: 10px;
    row-gap: 5px;
}

.gridItem {
    /* padding: 50px; */
    margin: 5px;
    border: solid blue 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: red;
    min-height: 130px;
    min-width: 100%;
}

.geneListItem {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    min-height: 100px;
    max-width: 600px;
    color: red;
    background-color: ligh;
    border: purple 3px dotted;
    cursor: move;
    cursor: -webkit-grabbing;
}

/* Styling all children of geneListItem */
.geneListItem>*>* {
    margin: 0 0;
    color: green;
}

#loadoutName {
    padding: 5px;
    margin: 3px;
}

/* Creating the Two Columns from main */
main {
    display: grid;
    grid-template-columns: 65% 30%;
}

#searchItems {
    display: grid;
    grid-template-columns: 49% 49%;
    column-gap: 10px;
}

#geneListTitle {
    margin: 0px 10px 10px 5px;
}